
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap');
*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Urbanist', sans-serif;
    height: 100vh;
    background: url(../images/ghibli.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.relogio{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    height: 220px;
    width: 500px;
    background: transparent;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.relogio div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 0px 5px 0px rgba(0, 31, 5, 0.5);
    border-radius: 10px;
    color: white;
    font-size: 40px;
    background-color: rgba(12, 114, 34, 0.842);
    height: 150px;
    width: 125px;
    gap: 10px;
}

.tempo
{
   
    font-size: 15px;
}